In [3]:
import pandas as pd

In [4]:
YEAR = 2023
TICKER = "SPX"

In [32]:
path = f"../modules/stochastic_volatility_models/stochastic_volatility_models/data/wrds/options/{YEAR}/option_prices_{TICKER.lower()}_{YEAR}.csv"
option_prices = pd.read_csv(path).drop(columns="Unnamed: 0")

In [72]:
option_prices = option_prices.set_index(["cp_flag", "exdate", "strike_price", "am_settlement", "date"])

---

In [62]:
# option_prices = option_prices.drop(columns=["forward_price", "root", "suffix"])

In [73]:
option_prices.head()

                                                                      symbol  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03  SPX 230120C1000000
                   1200000.0    1.0           2023-01-03  SPX 230120C1200000
                   1400000.0    1.0           2023-01-03  SPX 230120C1400000
                   1500000.0    1.0           2023-01-03  SPX 230120C1500000
                   1600000.0    1.0           2023-01-03  SPX 230120C1600000

                                                           last_date  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03  2023-01-03
                   1200000.0    1.0           2023-01-03  2022-12-21
                   1400000.0    1.0           2023-01-03  2022-12-21
                   1500000.0    1.0           2023-01-03  2022-12-29
                   1600000.0    1.0           2023-01-03  2022-11-14

                                                          best_bid  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03    2823.2
                   1200000.0    1.0           2023-01-03    2623.6
                   1400000.0    1.0           2023-01-03    2424.1
                   1500000.0    1.0           2023-01-03    2324.4
                   1600000.0    1.0           2023-01-03    2224.6

                                                          best_offer  volume  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03      2826.6     2.0
                   1200000.0    1.0           2023-01-03      2627.1     0.0
                   1400000.0    1.0           2023-01-03      2427.5     0.0
                   1500000.0    1.0           2023-01-03      2328.0     0.0
                   1600000.0    1.0           2023-01-03      2228.0     0.0

                                                          open_interest  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03         3557.0
                   1200000.0    1.0           2023-01-03          149.0
                   1400000.0    1.0           2023-01-03          262.0
                   1500000.0    1.0           2023-01-03           10.0
                   1600000.0    1.0           2023-01-03           56.0

                                                          impl_volatility  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03              NaN
                   1200000.0    1.0           2023-01-03              NaN
                   1400000.0    1.0           2023-01-03              NaN
                   1500000.0    1.0           2023-01-03              NaN
                   1600000.0    1.0           2023-01-03              NaN

                                                          delta  gamma  vega  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03    NaN    NaN   NaN
                   1200000.0    1.0           2023-01-03    NaN    NaN   NaN
                   1400000.0    1.0           2023-01-03    NaN    NaN   NaN
                   1500000.0    1.0           2023-01-03    NaN    NaN   NaN
                   1600000.0    1.0           2023-01-03    NaN    NaN   NaN

                                                          theta     optionid  \
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03    NaN  140692651.0
                   1200000.0    1.0           2023-01-03    NaN  140692652.0
                   1400000.0    1.0           2023-01-03    NaN  140692653.0
                   1500000.0    1.0           2023-01-03    NaN  149952041.0
                   1600000.0    1.0           2023-01-03    NaN  140692654.0

                                                         expiry_indicator
cp_flag exdate     strike_price am_settlement date
C       2023-01-20 1000000.0    1.0           2023-01-03              NaN
                   1200000.0    1.0           2023-01-03              NaN
                   1400000.0    1.0           2023-01-03              NaN
                   1500000.0    1.0           2023-01-03              NaN
                   1600000.0    1.0           2023-01-03              NaN

In [97]:
filtered_groups = option_prices.xs(1.0, level=3).groupby(level=[0, 1, 2]).first()

In [102]:
print(filtered_groups.index.shape)
for i in range(3):
	print(filtered_groups.index.get_level_values(i).unique().shape)

(11724,)
(2,)
(27,)
(466,)

In [105]:
filtered_groups

                                              symbol   last_date  best_bid  \
cp_flag exdate     strike_price
C       2023-01-20 200000.0        SPX 230120C200000  2022-12-30    3621.2
                   400000.0        SPX 230120C400000  2022-12-12    3421.6
                   600000.0        SPX 230120C600000  2022-12-16    3222.1
                   800000.0        SPX 230120C800000  2022-11-23    3022.7
                   1000000.0      SPX 230120C1000000  2023-01-03    2823.2
...                                              ...         ...       ...
P       2028-12-15 8800000.0      SPX 281215P8800000        None    2938.1
                   9200000.0      SPX 281215P9200000        None    3251.0
                   9600000.0      SPX 281215P9600000  2023-06-20    3566.7
                   10000000.0    SPX 281215P10000000        None    3856.5
                   12000000.0    SPX 281215P12000000  2023-06-27    5453.4

                                 best_offer  volume  open_interest  \
cp_flag exdate     strike_price
C       2023-01-20 200000.0          3624.9     0.0         1125.0
                   400000.0          3425.4     0.0          703.0
                   600000.0          3226.1     0.0           79.0
                   800000.0          3026.2     0.0           64.0
                   1000000.0         2826.6     2.0         3557.0
...                                     ...     ...            ...
P       2028-12-15 8800000.0         3130.1     0.0            0.0
                   9200000.0         3443.0     0.0            0.0
                   9600000.0         3758.7     2.0            0.0
                   10000000.0        4048.5     0.0            0.0
                   12000000.0        5645.4     3.0            0.0

                                 impl_volatility     delta     gamma  \
cp_flag exdate     strike_price
C       2023-01-20 200000.0             7.593877  0.999818  0.000000
                   400000.0             3.714910  0.999969  0.000000
                   600000.0             3.405508  0.999841  0.000000
                   800000.0             3.078620  0.999613  0.000001
                   1000000.0            2.678704  0.999498  0.000001
...                                          ...       ...       ...
P       2028-12-15 8800000.0            0.186620 -0.756743  0.000103
                   9200000.0            0.198105 -0.758241  0.000097
                   9600000.0            0.210444 -0.757263  0.000091
                   10000000.0           0.231817 -0.744818  0.000092
                   12000000.0           0.295591 -0.726133  0.000078

                                        vega      theta     optionid  \
cp_flag exdate     strike_price
C       2023-01-20 200000.0         0.356750  -90.39736  140692656.0
                   400000.0         0.083018  -21.71299  140692686.0
                   600000.0         0.392986  -48.53062  140692715.0
                   800000.0         0.903667  -82.88274  140692723.0
                   1000000.0        1.150166  -96.36358  140692651.0
...                                      ...        ...          ...
P       2028-12-15 8800000.0     2041.111000  187.43570  155270306.0
                   9200000.0     2024.563000  200.42570  155270307.0
                   9600000.0     2035.377000  212.63980  155270308.0
                   10000000.0    2228.027000  227.10000  155380205.0
                   12000000.0    2409.081000  283.42420  155380206.0

                                expiry_indicator
cp_flag exdate     strike_price
C       2023-01-20 200000.0                 None
                   400000.0                 None
                   600000.0                 None
                   800000.0                 None
                   1000000.0                None
...                                          ...
P       2028-12-15 8800000.0                None
                   9200000.0                None
                   9600000.0                None
                   10000000.0               None
                   12000000.0               None

[11724 rows x 13 columns]

In [104]:
11724 / 2

217.11111111111111

In [95]:
filtered_groups.shape

(12, 13)

In [93]:
994262 / 2 / 167

2976.8323353293413

In [89]:
option_prices.xs(1.0, level=3).index.get_level_values(3).unique().shape
option_prices.xs(1.0, level=3).shape

(994262, 13)

In [75]:
option_prices.xs(1.0, level=3).shape

(994262, 13)

In [71]:
option_prices[(option_prices["exdate"] == "2023-01-20") & (option_prices["strike_price"] == 200000.0) & (option_prices["cp_flag"] == "C") & (option_prices["date"] == "2023-01-10") & (option_prices["am_settlement"] == 1)]

,date,symbol,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,impl_volatility,delta,gamma,vega,theta,optionid,am_settlement,expiry_indicator
89472,2023-01-10,SPX 230120C200000,2023-01-20,2023-01-05,C,200000.0,3715.6,3720.3,0.0,1125.0,NaN,NaN,NaN,NaN,NaN,140692656.0,1.0,NaN

In [69]:
option_prices["strike_price"].unique()

array([ 1000000.,  1200000.,  1400000.,  1500000.,  1600000.,  1700000.,
        1800000.,  1900000.,   200000.,  2000000.,  2100000.,  2200000.,
        2300000.,  2350000.,  2400000.,  2450000.,  2500000.,  2550000.,
        2600000.,  2625000.,  2650000.,  2675000.,  2700000.,  2725000.,
        2750000.,  2775000.,  2800000.,  2825000.,  2850000.,  2875000.,
        2900000.,  2925000.,  2950000.,  2975000.,  3000000.,  3025000.,
        3050000.,  3060000.,  3070000.,  3075000.,  3080000.,  3090000.,
        3100000.,  3110000.,  3120000.,  3125000.,  3130000.,  3140000.,
        3150000.,  3160000.,  3170000.,  3175000.,  4470000.,  3180000.,
        3190000.,  3200000.,  3210000.,  3220000.,  3225000.,  3230000.,
        3240000.,  3250000.,  3260000.,  3270000.,  3275000.,  3280000.,
        3290000.,  3300000.,  3310000.,  3320000.,  3325000.,  3330000.,
        3340000.,  3350000.,  3360000.,  3365000.,  3370000.,  3375000.,
        3380000.,  3385000.,  3390000.,  3395000.,  3400000.,  3405000.,
        3410000.,  3415000.,  3420000.,  3425000.,  3430000.,  3435000.,
        3440000.,  3445000.,  3450000.,  3455000.,  3460000.,  3465000.,
        3470000.,  3475000.,  3480000.,  3485000.,  3490000.,  3495000.,
        3500000.,  3505000.,  3510000.,  3515000.,  3520000.,  3525000.,
        3530000.,  3535000.,  3540000.,  3545000.,  3550000.,  3555000.,
        3560000.,  3565000.,  3570000.,  3575000.,  3580000.,  3585000.,
        3590000.,  3595000.,  3600000.,  3605000.,  3610000.,  3615000.,
        3620000.,  3625000.,  3630000.,  3635000.,  3640000.,  3645000.,
        3650000.,  3655000.,  3660000.,  3665000.,  3670000.,  3675000.,
        3680000.,  3685000.,  3690000.,  3695000.,  3700000.,  3705000.,
        3710000.,  3715000.,  3720000.,  3725000.,  3730000.,  3735000.,
        3740000.,  3745000.,  3750000.,  3755000.,  3760000.,  3765000.,
        3770000.,  3775000.,  3780000.,  3785000.,  3790000.,  3795000.,
        3800000.,  3805000.,  3810000.,  3815000.,  3820000.,  3825000.,
        3830000.,  3835000.,  3840000.,  3845000.,  3850000.,  3855000.,
        3860000.,  3865000.,  3870000.,  3875000.,  3880000.,  3885000.,
        3890000.,  3895000.,  3900000.,  3905000.,  3910000.,  3915000.,
        3920000.,  3925000.,  3930000.,  3935000.,  3940000.,  3945000.,
        3950000.,  3955000.,  3960000.,  3965000.,  3970000.,  3975000.,
        3980000.,  3985000.,  3990000.,  3995000.,   400000.,  4000000.,
        4005000.,  4010000.,  4015000.,  4020000.,  4025000.,  4030000.,
        4035000.,  4040000.,  4045000.,  4050000.,  4055000.,  4060000.,
        4065000.,  4070000.,  4075000.,  4080000.,  4085000.,  4090000.,
        4095000.,  4100000.,  4105000.,  4110000.,  4115000.,  4120000.,
        4125000.,  4130000.,  4135000.,  4140000.,  4145000.,  4150000.,
        4155000.,  4160000.,  4165000.,  4170000.,  4175000.,  4180000.,
        4185000.,  4190000.,  4195000.,  4200000.,  4205000.,  4210000.,
        4215000.,  4220000.,  4225000.,  4230000.,  4235000.,  4240000.,
        4245000.,  4250000.,  4255000.,  4260000.,  4265000.,  4270000.,
        4275000.,  4280000.,  4285000.,  4290000.,  4295000.,  4300000.,
        4305000.,  4310000.,  4315000.,  4320000.,  4325000.,  4330000.,
        4340000.,  4350000.,  4360000.,  4370000.,  4375000.,  4380000.,
        4390000.,  4400000.,  4410000.,  4420000.,  4425000.,  4430000.,
        4440000.,  4450000.,  4460000.,  4475000.,  4480000.,  4490000.,
        4500000.,  4510000.,  4520000.,  4525000.,  4530000.,  4540000.,
        4550000.,  4560000.,  4570000.,  4575000.,  4580000.,  4590000.,
        4600000.,  4610000.,  4620000.,  4625000.,  4650000.,  4675000.,
        4700000.,  4725000.,  4750000.,  4775000.,  4800000.,  4825000.,
        4850000.,  4900000.,  4950000.,  5000000.,  5050000.,  5100000.,
        5150000.,  5200000.,  5250000.,  5300000.,  5350000.,  5400000.,
        5450000.,  5500000.,  5600000.,  5800000.,   600000.,  6000000.,
        6200000.,  6400000.,  6600000.,  6800000.,  7000000.,  7200000.,
         800000.,  1300000.,  4875000.,  4925000.,  4975000.,  5025000.,
        5075000.,  5125000.,  5175000.,  5225000.,  5275000.,  5325000.,
        5375000.,  5550000.,  5700000.,  5900000.,  6100000.,  6300000.,
        6500000.,  7400000.,  7600000.,  7800000.,  8000000.,  1100000.,
        8200000.,  8300000.,  2250000.,  2575000.,  2150000.,  2525000.,
         100000.,  1750000.,  1850000.,  1950000.,  2050000.,   300000.,
         500000.,  6700000.,  6900000.,   700000.,  7100000.,  7300000.,
         900000.,  8400000.,  8600000.,  8800000.,  9000000.,  9200000.,
       10000000.,  9600000., 12000000.,  2930000.,  2940000.,  2960000.,
        2970000.,  2980000.,  2990000.,  3010000.,  3020000.,  3030000.,
        3040000.,  3355000.,  4335000.,  4345000.,  2870000.,  2880000.,
        2890000.,  2910000.,  2920000.,  3155000.,  3165000.,  3185000.,
        3195000.,  3205000.,  3215000.,  3235000.,  3245000.,  3255000.,
        3265000.,  3285000.,  3295000.,  3305000.,  3315000.,  3335000.,
        3345000.,  1975000.,  4355000.,  4365000.,  4385000.,  4395000.,
        4405000.,  4415000.,  4435000.,  4445000.,  7500000.,  4455000.,
        4465000.,  4485000.,  4495000.,  4505000.,  4515000.,  4535000.,
        4630000.,  4640000.,  4660000.,  4670000.,  4680000.,  4690000.,
        4710000.,  4720000.,  4730000.,  4740000.,  4545000.,  4555000.,
        4565000.,  4585000.,  4595000.,  4605000.,  4760000.,  4770000.,
        4780000.,  4790000.,  4810000.,  4820000.,  4615000.,  4635000.,
        4645000.,  4655000.,  4665000.,  4685000.,  4695000.,  4830000.,
        4840000.,  4860000.,  4705000.,  4715000.,  4870000.,  4880000.,
        4890000.,  4735000.,  4910000.,  4745000.,  4755000.,  4765000.,
        4920000.,  4930000.,  4940000.,  4960000.,  4785000.,  4970000.,
        4795000.,  4805000.,  4815000.,  4980000.,  4990000.,  5010000.,
        4835000.,  5020000.,  4845000.,  4855000.,  4865000.,  4885000.,
        4895000.,  4905000.,  4915000.,  4935000.,  4945000.,  4955000.,
        4965000.,  4985000.,  5030000.,  5040000.,  5060000.,  5070000.,
        5080000.,  5090000.,  5110000.,  5120000.,  5130000.,  5140000.,
        5160000.,  5170000.,  5180000.,  5190000.,  5210000.,  5220000.,
        2010000.,  3015000.])

In [48]:
option_prices[option_prices["symbol"] == "SPX 230120C1000000"]

,date,symbol,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,...,delta,gamma,vega,theta,optionid,am_settlement,forward_price,expiry_indicator,root,suffix
0,2023-01-03,SPX 230120C1000000,2023-01-20,2023-01-03,C,1000000.0,2823.2,2826.6,2.0,3557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
17733,2023-01-04,SPX 230120C1000000,2023-01-20,2023-01-04,C,1000000.0,2847.5,2850.5,4.0,3557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
35706,2023-01-05,SPX 230120C1000000,2023-01-20,2023-01-04,C,1000000.0,2806.9,2809.2,0.0,3557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
53706,2023-01-06,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2891.8,2894.6,2000.0,3557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
71732,2023-01-09,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2891.2,2895.7,0.0,1557.0,...,0.999498,0.000001,1.150166,-96.36358,140692651.0,1.0,NaN,NaN,NaN,NaN
89464,2023-01-10,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2916.7,2921.4,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
107292,2023-01-11,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2964.4,2969.1,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
125225,2023-01-12,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2980.5,2984.8,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
143476,2023-01-13,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2998.0,3002.1,0.0,1557.0,...,0.999453,0.000001,0.990734,-147.40040,140692651.0,1.0,NaN,NaN,NaN,NaN
161714,2023-01-17,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2988.2,2991.9,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
179876,2023-01-18,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2922.4,2931.8,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
197870,2023-01-19,SPX 230120C1000000,2023-01-20,2023-01-06,C,1000000.0,2890.9,2908.7,0.0,1557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN

In [40]:
option_prices[option_prices["date"] == "2023-01-03"].drop("columns")

,date,symbol,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,volume,open_interest,...,delta,gamma,vega,theta,optionid,am_settlement,forward_price,expiry_indicator,root,suffix
0,2023-01-03,SPX 230120C1000000,2023-01-20,2023-01-03,C,1000000.0,2823.20,2826.6,2.0,3557.0,...,NaN,NaN,NaN,NaN,140692651.0,1.0,NaN,NaN,NaN,NaN
1,2023-01-03,SPX 230120C1200000,2023-01-20,2022-12-21,C,1200000.0,2623.60,2627.1,0.0,149.0,...,NaN,NaN,NaN,NaN,140692652.0,1.0,NaN,NaN,NaN,NaN
2,2023-01-03,SPX 230120C1400000,2023-01-20,2022-12-21,C,1400000.0,2424.10,2427.5,0.0,262.0,...,NaN,NaN,NaN,NaN,140692653.0,1.0,NaN,NaN,NaN,NaN
3,2023-01-03,SPX 230120C1500000,2023-01-20,2022-12-29,C,1500000.0,2324.40,2328.0,0.0,10.0,...,NaN,NaN,NaN,NaN,149952041.0,1.0,NaN,NaN,NaN,NaN
4,2023-01-03,SPX 230120C1600000,2023-01-20,2022-11-14,C,1600000.0,2224.60,2228.0,0.0,56.0,...,NaN,NaN,NaN,NaN,140692654.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17728,2023-01-03,SPXW 231229P5000000,2023-12-29,2022-12-29,P,5000000.0,1010.10,1025.5,0.0,463.0,...,-0.891393,0.000259,628.6868,116.263500,151576480.0,0.0,NaN,m,NaN,NaN
17729,2023-01-03,SPXW 231229P5025000,2023-12-29,NaN,P,5025000.0,1032.10,1047.5,0.0,0.0,...,-0.896657,0.000248,602.0881,120.441300,151647377.0,0.0,NaN,m,NaN,NaN
17730,2023-01-03,SPXW 231229P5200000,2023-12-29,2022-12-29,P,5200000.0,1189.00,1205.1,0.0,3.0,...,-0.925785,0.000183,441.9281,146.113600,151576481.0,0.0,NaN,m,NaN,NaN
17731,2023-01-03,SPXW 231229P5400000,2023-12-29,NaN,P,5400000.0,1373.20,1389.8,0.0,0.0,...,-0.946253,0.000128,313.0978,168.854500,151576482.0,0.0,NaN,m,NaN,NaN
17732,2023-01-03,SPXW 231229P800000,2023-12-29,2022-12-27,P,800000.0,1.65,2.0,0.0,2.0,...,-0.002135,0.000003,25.5154,-7.830157,151576483.0,0.0,NaN,m,NaN,NaN

In [26]:
from datetime import datetime

ts = option_prices["date"].apply(lambda date: datetime.strptime(date, "%Y-%m-%d"))

In [27]:
ts

0         2023-01-03
1         2023-01-03
2         2023-01-03
3         2023-01-03
4         2023-01-03
             ...
3086603   2023-08-31
3086604   2023-08-31
3086605   2023-08-31
3086606   2023-08-31
3086607   2023-08-31
Name: date, Length: 3086608, dtype: datetime64[ns]